table thead tr td, table tfoot tr td {
    font-weight: bold;
    background-color: #ECECEC;
}
table tbody tr td {
    cursor: pointer;
}
.space {
    padding-top: 2%; 
}
.image {
    font-size: 150px;
}