<div class="col-md-4 col-md-offset-1">
    <a href="{{ link }}">
        <div class="panel panel-info" ng-click="">
            <div class="panel-heading">{{ name }}</div>
            <div class="panel-body">
                <i class="image glyphicon glyphicon-th"></i>
            </div>
        </div>
    </a>
</div>