<title-center titulo="Menu Principal"></title-center>

<main-menu-box>
    
    <main-menu-part 
        link="/products"
        name="Produtos"></main-menu-part>
        
    <main-menu-part 
        link="/shopping"
        name="Compras"></main-menu-part>
        
</main-menu-box>