<title-center titulo="{{ titlePartial }}"></title-center>

<div ng-show="message.length > 0" class="alert alert-success space" role="alert">
    {{ message }}
</div>

<form class="space" name="formulario" ng-submit="sendProduct()" novalidate>
  
  <div class="form-group">
    <label>Código</label>
    <input type="text" ng-model="product.id" class="form-control" id="id" name="id" placeholder="Código" disabled />
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <input type="text" ng-model="product.nome" class="form-control" id="nome" name="nome" placeholder="Descrição" ng-required="true" ng-disabled="! newProduct" />
    <span ng-show="formulario.nome.$error.required" class="form-control alert-danger">
		Descrição é um campo obrigatório
	</span>
  </div>
  
  <!-- Botoes -->
  <buttons-box>
    <button-retornar link="/products"></button-retornar>
    <button type="button" class="btn btn-danger" ng-disabled="newProduct" ng-click="deleteProduct()">Deletar</button>
    <button type="submit" class="btn btn-success" ng-disabled="!formulario.$valid || !newProduct">Gravar</button>
  </buttons-box>
  
</form>