<title-center titulo="Menu de Produtos"></title-center>

<!-- Filtro -->
<div class="row space">
    <div class="col-md-12">
        <form>
            <label class="text-left">Filtrar Produtos: </label>
            <input ng-model="filtro" class="form-control" placeholder="Informe um ID ou uma descrição do produto para procurar" />
        </form>
    </div>
</div>

<!-- Tabela -->
<div class="space">
    <table ng-show="products.length > 0" class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <td>Código</td>
                <td>Descrição</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products | filter: filtro" ng-click="redirProduct(product)" title="Clique com o botão esquerdo do mouse e visualize o produto '{{ product.nome }}''">
                <td class="text-center">{{ product.id }}</td>
                <td class="text-left">{{ product.nome }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="text-center">
                <td colspan="2">Total de Produtos: {{ products.length }}</td>
            </tr>    
        </tfoot>
    </table>
    <div ng-show="products.length == 0" class="alert alert-info" role="alert">
        Não existem produtos Cadastrados até o momento
    </div>
</div>

<!-- Botoes -->
<buttons-box>
    <button-retornar link="/main-menu"></button-retornar>
    <button-incluir link="/product/new"></button-incluir>
</buttons-box>