<title-center titulo="{{ titlePartial }}"></title-center>

<div ng-show="message.length > 0" class="alert alert-success space" role="alert">
    {{ message }}
</div>

<form class="space" name="formulario" ng-submit="sendShop()" novalidate>
  
  <div class="form-group">
    <label>Código</label>
    <input type="text" ng-model="shop.id" class="form-control" id="id" name="id" placeholder="Código" disabled />
  </div>
  <div class="form-group">
    <label>Produto</label>
    <input type="text" ng-model="shop.produto" class="form-control" id="produto" name="produto" placeholder="Produto" ng-required="true" ng-disabled="!newShop" />
    <span ng-show="formulario.produto.$error.required" class="form-control alert-danger">
		Produto é um campo obrigatório
	</span>
  </div>
  <div class="form-group">
    <label>Data</label>
    <input type="text" ng-model="shop.data" class="form-control" id="data" name="data" placeholder="Data" disabled />
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input type="number" ng-model="shop.preco" class="form-control" id="preco" name="preco" placeholder="Preço" ng-required="true" ng-disabled="!newShop" />
    <span ng-show="formulario.preco.$error.required" class="form-control alert-danger">
		Preço é um campo obrigatório
	</span>
  </div>
  <div class="form-group">
    <label>Quantidade</label>
    <input type="number" ng-model="shop.quantidade" class="form-control" id="quantidade" name="quantidade" placeholder="Quantidade" ng-required="true" ng-disabled="!newShop" />
    <span ng-show="formulario.quantidade.$error.required" class="form-control alert-danger">
		Quantidade é um campo obrigatório
	</span>
  </div>
  
  <!-- Botoes -->
  <buttons-box>
    <button-retornar link="/shopping"></button-retornar>
    <button type="button" class="btn btn-danger" ng-disabled="newShop" ng-click="deleteShop()">Deletar</button>
    <button type="submit" class="btn btn-success" ng-disabled="!formulario.$valid || !newShop">Gravar</button>
  </buttons-box>
  
</form>