<title-center titulo="Menu de Compras"></title-center>

<!-- Filtro -->
<div class="row space">
    <div class="col-md-12">
        <form>
            <label class="text-left">Filtrar Compras: </label>
            <input ng-model="filtro" class="form-control" placeholder="Informe um ID ,código do produto, data, preço ou quantidade de compra para procurar" />
        </form>
    </div>
</div>

<!-- Tabela -->
<div class="space">
    <table ng-show="shopping.length > 0" class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <td>Código</td>
                <td>Produto</td>
                <td>Data</td>
                <td>Preço</td>
                <td>Quantidade</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="shop in shopping | filter: filtro" ng-click="redirShop(shop)" title="Clique com o botão esquerdo do mouse e visualize a compra '{{ shop.id }}''">
                <td class="text-center">{{ shop.id }}</td>
                <td class="text-center">{{ shop.produto }}</td>
                <td class="text-center">{{ shop.data | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td class="text-center">{{ shop.preco | currency: "R$" }}</td>
                <td class="text-center">{{ shop.quantidade }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="text-center">
                <td colspan="5">Total de Compras: {{ shopping.length }}</td>
            </tr>    
        </tfoot>
    </table>
    <div ng-show="shopping.length == 0" class="alert alert-info" role="alert">
        Não existem compras Cadastrados até o momento
    </div>
</div>

<!-- Botoes -->
<buttons-box>
    <button-retornar link="/main-menu"></button-retornar>
    <button-incluir link="/shop/new"></button-incluir>
</buttons-box>